.mw-exclusive {
    background-color: #e10a0a;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    padding: 5px;
}

.mw-newFlag {
    background-color: #ffffff;
    color: #292d2f;
    text-align: center;
    font-weight: 400;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
