.mw-newFlag {
    background-color: #ffffff;
    color: #292d2f;
    text-align: center;
    font-weight: 400;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.strikeWas {
    text-decoration: line-through;
}

.bigPrice {
    font-size: 1.5rem;
    font-weight: 700;
    color: #e10a0a;
}

.bigSave {
    color: #e10a0a;
}
