.howContainer {
  border: 1px solid #ECEFF2;
  height: 80px;
  text-align: left;
  position: relative;
  margin-top: 20px;
}
.howIcon {
  position: relative;
  pointer-events: none;
  font-size: 2rem;
  color: #e10a0a;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 25px;
}
.howContent {
  position: relative;
  top: 0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  margin-left: 80px;
}
.howTitle {
  font-size: 1rem;
  font-weight: 600;
  color: #e10a0a;
  text-transform: uppercase;
  margin: 0;
}
.howPara {
  font-size: 0.9rem;
  margin: 0;
}
